{% extends "network/layout.html" %}
{% load static %}


{% block body %}
{% if user.is_authenticated %}
<section id="ForYou" class="container">
    <div class="row tofix">
        <div class="col" id="forYoubtn"><a href="{% url 'index' %}">For you</a></div>
        <div class="col" id="followingBtn"><a href="{% url 'following' %}">Following</a></div>
    </div>
</section>
<section id="post" class="container">
    {% if messages %}
    {% for message in messages %}
        <h5 class="message">{{message}}</h5>
    {% endfor %}
    {% endif %}
    <form action="{% url 'tweet' %}" method="post" id="post_form">
        {% csrf_token %}
        <div id="new_post">
            <input type="text" autocomplete="off" placeholder="What's happening?!" name="tweet">
        </div>
        <div class="container row">
            <div class="on_newPostDiv icons col">
                <i class="fa-regular fa-image"></i>
                <i class="fa-solid fa-list"></i>
                <i class="fa-regular fa-face-smile"></i>
                <i class="fa-regular fa-calendar"></i>
            </div>
            <div class="on_newPostDiv col" id="post_btn">
                <input type="submit" value="Post">
            </div>
        </div>
    </form>
</section>
<div id="allposts">
{% for post in page_obj %}
<section class="tweet" id="{{post.id}}">
    <div class="row container">
        <div class="userImg col-1">
            <img src="{% static 'network/user.jpg' %}" alt="">
        </div>
        <div class="tweetContent col">
            <h3><a href="{% url 'profile' post.author.id %}">{{post.author}} </a></h3>
            <span>@username . {{post.time}}</span>
            <p id="tweet-{{post.id}}">{{post.tweet}}</p>
        </div>
    </div>
    <div class="tweetIcon container">
        <i class="fa-regular fa-comment commentIcon" data-comment="{{post.id}}"></i>
        <i class="fa-regular fa-heart likeIcon" data-like="{{post.id}}"></i>
        {% if request.user == post.author %}
        <i class="fa-regular fa-pen-to-square" data-edit="{{post.id}}"></i>
        {% endif %}
    </div>
</section>
{% endfor %}
<nav aria-label="Page navigation">
    <ul class="pagination container">
    {% if page_obj.has_previous %}
    <li class="page-item"><a class="page-link" href="?page=1">&laquo;1</a></li>
    <li class="page-item"><a class="page-link" href="?page={{page_obj_all.previous_page_number}}">Previous</a></li>
    {% endif %}
      <li class="page-item">Page{{page_obj.number}} of {{page_obj.paginator.num_pages}}</li>
    {% if page_obj.has_next %}
      <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">next</a></li>
      <li class="page-item"><a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a></li>
    {% endif %}
    </ul>
  </nav>
</div>

<div class="commentForm">
    <div class="container">
        <div><i class="fa-solid fa-xmark"></i></div>
        <div class="postcontents">
            <div class="row container">
                <div class="userImg col-1">
                    <img src="{% static 'network/user.jpg' %}" alt="">
                </div>
                <div class="tweetContent col">
                    <h4><a href="#" id="post_author"></a></h4>
                    <span id="timeAuthored"></span>
                    <p id="theTweet"></p>
                </div>
            </div>
        </div>
        <form action="#" method="post">
            <div class="row" id="userAndcomment">
                <div class="userImg col-1">
                    <img src="{% static 'network/user.jpg' %}">
                </div>
                <div class="col">
                    <input type="text" name="comment" autofocus autocomplete="off" placeholder="Post your comment">
                </div>
                
            </div>
            <div class="commenntBtn">
            <input type="submit" value="comment" class="btn-primary">
            </div>
        </form>
    </div>
</div> 
{% endif %}

{% endblock %}