{% extends "network/layout.html" %}
{% load static %}


{% block body %}
{% if user.is_authenticated %}
<div class="container" id="topDiv">
    <div class="row">
        <div class="userImg col-2 header">
            <img src="{% static 'network/user.jpg' %}" alt="image" id="showMenu">
        </div>
        <div class="col-10 header">
            <strong>Balo<span>X</span></strong>
        </div>
    </div>
</div>
<section id="ForYou" class="container">
    <div class="row tofix">
        {% if all_posts %}
        <a class="col for_follow active" href="{% url 'index' %}"><div id="forYoubtn">For you</div></a>
        <a class="col for_follow" href="{% url 'following' %}"><div id="followingBtn">Following</div></a>
        {% else %}
        <a class="col for_follow" href="{% url 'index' %}"><div id="forYoubtn">For you</div></a>
        <a class="col for_follow active" href="{% url 'following' %}"><div id="followingBtn">Following</div></a>
        {% endif %}

    </div>
</section>
<section id="post" class="container">
    {% if messages %}
    {% for message in messages %}
        <h5 class="message">{{message}}</h5>
    {% endfor %}
    {% endif %}
    <form action="{% url 'tweet' %}" method="post" id="post_form">
        {% csrf_token %}
        <div id="new_post">
            <input type="text" autocomplete="off" placeholder="What's happening?!" name="tweet">
        </div>
        <div class="row">
            <div class="on_newPostDiv icons col-sm-7 col-md-10">
                <i class="fa-regular fa-image"></i>
                <i class="fa-solid fa-list"></i>
                <i class="fa-regular fa-face-smile"></i>
                <i class="fa-regular fa-calendar"></i>
            </div>
            <div class="on_newPostDiv col-sm-5 col-md-2" id="post_btn">
                <input class='btn' type="submit" value="Post">
            </div>
        </div>
    </form>
</section>
<div id="allposts">
{% for post in page_obj %}
<section class="tweet" id="{{post.id}}">
    <div class="row container">
        <div class="userImg">
            <img src="{% static 'network/user.jpg' %}" alt="">
        </div>
        <div class="tweetContent col-sm-11">
            <h3 class=""><a href="{% url 'profile' post.author.id %}" class="username">{{post.author|capfirst}} </a></h3>
            <span class="">.{{post.time}}</span>
            <p id="tweet-{{post.id}}">{{post.tweet}}</p>
        </div>
    </div>
    <div class="tweetIcon container row">
        <div class="col">
        <i class="fa-solid fa-comment commentIcon" data-comment="{{post.id}}"></i>
        </div>
        <div class="col">
            <span id="post-likes-{{post.id}}">{{post.likes}}</span>
            {% if request.user in post.liked_by.all %}
                <i class="liked fa-solid fa-heart likeIcon " data-like="post-{{post.id}}" id="post-like-{{post.id}}"></i>
            {% else %}
                <i class="unliked fa-solid fa-heart likeIcon " data-like="post-{{post.id}}" id="post-like-{{post.id}}"></i>
            {% endif %}
        </div>
        {% if request.user == post.author %}
        <div class="col">
            
            <i class="fa-solid fa-pen-to-square" data-edit="{{post.id}}"></i>
        </div>
        {% endif %}
    </div>
</section>
{% endfor %}
<nav aria-label="Page navigation">
    <ul class="pagination container">
    {% if page_obj.has_previous %}
    <li class="page-item"><a class="page-link" href="?page=1">&laquo;1</a></li>
    <li class="page-item"><a class="page-link" href="?page={{page_obj_all.previous_page_number}}">Previous</a></li>
    {% endif %}
      <li class="page-item">Page{{page_obj.number}} of {{page_obj.paginator.num_pages}}</li>
    {% if page_obj.has_next %}
      <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">next</a></li>
      <li class="page-item"><a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a></li>
    {% endif %}
    </ul>
  </nav>
</div>

<div class="commentForm">
    <div class="container">
        <div><i class="fa-solid fa-xmark"></i></div>
        <div class="postcontents">
            <div class="row container">
                <div class="userImg col-1">
                    <img src="{% static 'network/user.jpg' %}" alt="">
                </div>
                <div class="tweetContent col">
                    <h4><a href="#" id="post_author"></a></h4>
                    <span id="timeAuthored"></span>
                    <p id="theTweet"></p>
                </div>
            </div>
        </div>
        <form action="#" method="post">
            <div class="row" id="userAndcomment">
                <div class="userImg col-1">
                    <img src="{% static 'network/user.jpg' %}">
                </div>
                <div class="col">
                    <input type="text" name="comment" autofocus autocomplete="off" placeholder="Post your comment">
                </div>
                
            </div>
            <div class="commenntBtn">
            <input type="submit" value="comment" class="btn-primary">
            </div>
        </form>
    </div>
</div> 
{% endif %}

{% endblock %}