{% extends "network/layout.html" %}
{% load static %}


{% block body %}
{% if user.is_authenticated %}
<section id="ForYou" class="container">
    <div class="row tofix">
        <div class="col"><a href="#">For you</a></div>
        <div class="col"><a  href="#">Following</a></div>
    </div>
</section>
<section id="post" class="container">
    {% if messages %}
    {% for message in messages %}
        <h5 class="message">{{message}}</h5>
    {% endfor %}
    {% endif %}
    <form action="{% url 'tweet' %}" method="post" id="post_form">
        {% csrf_token %}
        <div id="new_post">
            <input type="text" autocomplete="off" placeholder="What's happening?!" name="tweet">
        </div>
        <div class="container row">
            <div class="on_newPostDiv icons col">
                <i class="fa-regular fa-image"></i>
                <i class="fa-solid fa-list"></i>
                <i class="fa-regular fa-face-smile"></i>
                <i class="fa-regular fa-calendar"></i>
            </div>
            <div class="on_newPostDiv col" id="post_btn">
                <input type="submit" value="Post">
            </div>
        </div>
    </form>
</section>

{% for post in posts %}
<section class="tweet" id="{{post.id}}">
    <div class="row container">
        <div class="userImg col-1">
            <img src="{% static 'network/user.jpg' %}" alt="">
        </div>
        <div class="tweetContent col">
            <h3><a href="{% url 'profile' post.author.id %}">{{post.author}} </a></h3>
            <span>@username . {{post.time}}</span>
            <p>{{post.tweet}}</p>
        </div>
    </div>
    <div class="tweetIcon container">
        <i class="fa-regular fa-comment" class="commentIcon"></i>
        <i class="fa-regular fa-heart" class="likeIcon"></i>
    </div>

</section>

{% endfor %}
<div class="commentForm">
    <div class="container">
        <div><i class="fa-solid fa-xmark"></i></div>
        <div class="postcontents">
            <div class="row container">
                <div class="userImg col-1">
                    <img src="{% static 'network/user.jpg' %}" alt="">
                </div>
                <div class="tweetContent col">
                    <h4><a href="#">UserName</a></h4>
                    <span>Time Posted</span>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos ea modi quo, veritatis natus officiis cumque ipsa laborum laudantium ex eveniet impedit accusamus eaque totam labore necessitatibus dicta repudiandae sequi!</p>
                </div>
            </div>
        </div>
        <form action="#" method="post">
            <div class="row" id="userAndcomment">
                <div class="userImg col-1">
                    <img src="{% static 'network/user.jpg' %}">
                </div>
                <div class="col">
                    <input type="text" name="comment" autofocus autocomplete="off" placeholder="Post your comment">
                </div>
                
            </div>
            <div class="commenntBtn">
            <input type="submit" value="comment" class="btn-primary">
            </div>
        </form>
    </div>
</div> 
{% endif %}

{% endblock %}