{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}Social Network{% endblock %}</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link href="{% static 'network/styles.css' %}" rel="stylesheet">
        <script src="https://kit.fontawesome.com/8b9314d02f.js" crossorigin="anonymous"></script>
        
    </head>
    <body>
    <div class="row container-fluid">
        <nav class="navbar-left col-3">
            <div class="left-container container">
                <a href="#" class="logo"><img src="{% static 'network/twitter_logo2.png' %}" alt="Logo"></a>
                <div>
                <ul class="navbar-nav mr-auto row">
                    {% if user.is_authenticated %}
                        <li class="nav-item col">
                            <a class="nav-link" href="#"><strong>Logged in as {{ request.user}}</strong></a>
                        </li>
                    {% endif %}
                    <li class="nav-item col">
                        <a class="nav-link" href="{% url 'index' %}">All Posts</a>
                    </li>
                    <li class="nav-item col">
                        <a class="nav-link" href="#">Explore</a>
                    </li>
                    <li class="nav-item col">
                    <a class="nav-link" href="#">Notifications</a>
                    </li>
                    <li class="nav-item col">
                        <a class="nav-link" href="#">Messages</a>
                    </li>
                    <li class="nav-item col">
                        <a class="nav-link" href="#">Lists</a>
                    </li>
                    <li class="nav-item col">
                        <a class="nav-link" href="#">Communities</a>
                    </li>
                    <li class="nav-item col">
                        <a class="nav-link" href="#">Profile</a>
                    </li>
                    <li class="nav-item col">
                        <a class="nav-link" href="#">More</a>
                    </li>
                    {% if user.is_authenticated %}
                        <li class="nav-item col">
                            <a class="nav-link" href="{% url 'logout' %}">Logout</a>
                        </li>
                    {% else %}
                        <li class="nav-item col">
                            <a class="nav-link" href="{% url 'login' %}">Login</a>
                        </li>
                    
                        <li class="nav-item col">
                            <a class="nav-link" href="{% url 'register' %}">Register</a>
                        </li>
                    {% endif %}
                </ul>
                <div class="btn post">Post</div>
                </div>
            </div>
          </nav>
        
        <div class="body col">
         
            {% block body %}
            
            {% endblock %}
        </div>
        
    </div>
    <script src="{% static 'network/network.js' %}"></script>
    </body>
</html>